apiVersion: v1
kind: Pod
metadata:
  name: test-ed-pod
spec:
  containers:
  - name: test-container
    image: k8s.gcr.io/test-webserver
    volumeMounts:
      - name: cache-volume
        mountPath: /cache
  volumes:
    - name:  cache-volume
      emptyDir: {}
          
